google-cloud-aiplatform 
google-auth
tqdm
vertexai
google-genai>=1.51.0
torch
torchvision
torchtext
bitsandbytes 
datasets 
tensorboard 
dotenv
unsloth
lm-eval
lm-eval[math,ifeval,sentencepiece,zeno]

